<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.windula.alam_clock10">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.windula.alarm_clock10.ALARM_RECEIVER2"/>
            </intent-filter>

        </receiver>

        <activity android:name=".AlarmQuiz" android:theme="@style/AppTheme.quiz" android:permission="android.permission.INTERNET"/>

        <service
            android:name=".AlarmService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".popupActivity"
            android:theme="@style/AppTheme.popup" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>